@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TODO app</h1>


<div class="d-flex justify-content-center mt-4">
    <div class="input-group search-bar-width">
        <input type="text" class="form-control shadow-sm rounded-pill" placeholder="Search tasks..." aria-label="Search tasks" aria-describedby="button-search">
        <div class="input-group-append">
            <button class="btn btn-primary shadow-sm rounded-pill ml-2" id="button-search" type="button">
                Search
            </button>
        </div>
    </div>
</div>



</div>
